[mysqld]
user=mysql
default-storage-engine=INNODB
character-set-server=utf8
sql_mode=STRICT_TRANS_TABLES
skip-name-resolve
skip-ssl


[client]
default-character-set=utf8

[mysql]
default-character-set=utf8